@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* color palette
#ffffff
#6B6565
#000000
#FFD470
#FF5252
*/
* {
  font-family: "IBM Plex Sans", sans-serif;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
}

.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar .nav-link {
  color: #6c757d;
  padding: 10px 20px;
  font-size: 0.95rem;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
  background-color: #f0f2f5;
  color: #5e72e4;
  border-radius: 8px;
}
